.main{
    display: flex;
    padding-top: 1rem;
}
.player{
    width: 20vw;
    height: 50vh;
}

.button{
    margin: 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.dungeon{
    width: 60vw;
    height: 60vh;
    padding: 1rem;
    box-sizing: border-box;
}

.actions{
    width: 20vw;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    button{
        margin: 0.2rem 0 0 0;
        width: 100%;
    }
    .monster-data{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}