.treasure{
    background-color: #e7e757;
    display: flex;
    justify-content: space-between;
    span{
        color: #000;
    }
}
.trap{
    background-color: #eb8b8b;
    display: flex;
    justify-content: space-between;
}