<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Strength</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Vitality</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        </mat-form-field>
    </form>
</div>

    <!-- accuracy: int
    agility: int
    vision: int  # Is used?
    magic: int
    experience: int
    skill_points: int -->